<section>
  <div class="container mt-5">
    <div class="">
      <h4 class="text-center">Sign Up</h4>
    </div>

    <form action="/admin/signup" method="post">

      <!-- Name input -->
      <div class="col-auto text-center">
        <input name="Name" style="width: auto;" placeholder="Name" type="text" id="form2Example1" class="form-control login-signup-user-center" />
      </div

      <!-- Email input -->
      <div class="col-auto text-center">
        <br>
        <input name="Email" style="width: auto;" placeholder="Email" type="email" id="form2Example1" class="form-control login-signup-user-center" />
      </div>

      <!-- Password input -->
      <div class="col-auto text-center">
        <br>
        <input name="Password" style="width: auto;" type="password" placeholder="Password" id="form2Example2" class="form-control login-signup-user-center" />
      </div>

      <!-- 2 column grid layout for inline styling -->


      <!-- Submit button -->
      <div class="text-center">
        <br>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
      </div>
      <!-- Register buttons -->
      <div class="text-center">
        <p>Already Account? <a href="/login">Login</a></p>

      </div>
    </form>

  </div>
</section>
