<section>
  <div class="container">
    <h4>Enter Delivery Address</h4>
    <form action="" id="checkout-form">
      <div class="row">

        <div class="col-12 col-md-6">
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" name="address" id="Address" required="true">
          </div>
          <div class="mb-3">
            <label class="form-label">Pincode</label>
            <input type="number" class="form-control" name="pincode" id="Pincode" required="true">
          </div>
          <div class="mb-3">
            <label class="form-label">Mobile</label>
            <input type="number" class="form-control" name="mobile" id="Mobile" required="true">
            <input type="text" name="userId" value="{{user._id}}" hidden>
          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Total Amount: Rs.{{total}}</h5>
              <label>Payment Method</label><br><br>
              <input type="radio" value="COD" name="payment-method">
              <label>COD</label><br>
              <input type="radio" value="online" name="payment-method">
              <label>Online Payment</label><br>
              <button type="submit" class="btn btn-danger float-end">Checkout</button>
            </div>
          </div>
        </div>

      </div>
    </form>

  </div>

</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript">
  $('#checkout-form').submit((e) => {
    e.preventDefault()
    $.ajax({
      url: '/place-order',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        if (response.codSuccess) {
          location.href = "/order-success";
        } else {
          razorpayPayment(response)
        }
      }
    })
  })

  function razorpayPayment(order) {
    var options = {
      "key": "rzp_test_TvIdAJwuiVkT1E", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "BROTOTYPE",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function(response) {

        verifyPayment(response,order)
      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  function verifyPayment(payment,order) {
    $.ajax({
      url:'/verify-payment',
      data:{
        payment,
        order
      },
      method:'post',
      success:(response)=>{
        if (response.status) {
          location.href = "/order-success";
        }else{
          alert('payment failed')
        }
      }
    })
  }
</script>
